{{- /*gotype: github.com/primelib/primecodegen/pkg/openapi/openapigenerator.SupportOnceTemplate*/ -}}
{{- template "header-singleline" }}

pluginManagement {
    repositories {
        gradlePluginPortal()
        mavenCentral()
    }
}

rootProject.name = "{{ .Metadata.ArtifactId }}"

include(
    "core",
    "spring"
)
