{{- /*gotype: github.com/primelib/primecodegen/pkg/openapi/openapigenerator.SupportOnceTemplate*/ -}}
{{- template "header-hash" }}
{{ .Common.Packages.Root }}.spring.{{ .Metadata.Name }}SpringAutoConfiguration
