{{- /*gotype: github.com/primelib/primecodegen/pkg/openapi/openapigenerator.SupportOnceTemplate*/ -}}
{{- template "header-hash" }}
version=main-SNAPSHOT
repository.publish.target=mvncentral-snapshots
